.container {
  display:flex;
  justify-content: center; 
}

.container a { /* link do react-doom renderiza um <a> , box ta dentro do a*/ 
  text-decoration: none;
  color: #5f3473;
  font-weight: bold;
  margin: 20px;
  transition: color 0.2s;
}

.container a:visited { /*mesmo depois do link visitado ele permanecerá com esta cor*/
  color: #5f3473;
}

.container a:hover {  /* hover é quando o mouse está em cima */
  color: #ff9f4e;
}

.box {
  background-color: #ff9f4e;
  width: 80px;
  padding: 30px;
  height: 80px;
  border: #5f3473 3px solid; /* border-color , border-width e border-style estão todos juntos aqui*/
  display: flex; /* inline-flex também funcionaria*/
  /*justify , align e flex-direction só funcionam se o display do elemento for flex */
  justify-content: center; 
  align-items: center;    
  flex-direction: column;
  transition: all 0.1s;   
}

.box:hover {
  background-color: #5f3473;
  border-color: #ff9f4e
}

.box img {
  padding: 5px;
  width: 50px; 
}

.table-container {  /* Está deixando a tabela bonitinha ao centro */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
}

table {
border-collapse: collapse;  /*faz o encontro das bordas que estão pertinhas */
}

thead tr{
background-color: #5f3473;
color: white;
text-align: left;
}

td , th {
border: 2px solid #864ea0;
padding: 5px;
}

tr:nth-child(even) {
  background-color: #f7c893;
  }

  .navBar {

    background-color: #ff9f4e;
    width: 100vw;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    
    text-decoration: none;
    color: #5f3473;
    font-weight: bold;
  }

  .navBar div {
    margin-left: 30px;
    padding-right: 10px;
     
  }

  .navigationSpace a {
    margin: 0px 10px;
  }

 

 
  
  

  
  